{% extends "layouts/layout.index.html" %}
{% block content %}
<div class="container-fluid" id="mainContent">
    <div class="row" id="mainContentinner">
        <div class="col-12 col-md-10 col-lg-10 d-md-block d-flex justify-content-center  ">
            <img id="codeckimg" src="../assets/img/codeck.svg" alt="">
        </div>
        <div class="col-12 col-md-2 col-lg-2 d-flex justify-content-center justify-content-md-end ">

            <a href=""><img class="mediaIcons" src="../assets/img/facebook.png" alt=""></a>
            <a href=""><img class="mediaIcons" src="../assets/img/instagram.png" alt=""></a>
            <a href=""><img class="mediaIcons" src="../assets/img/linkedin.png" alt=""></a>
        </div>
    </div>
    <div class="row" id="titleMain">
        <div class="title-text col-12 col-lg-7 text-center text-md-left">
            <p id="textitem1" style="">Markanız için</p>
        </div>
        <div class="title-text col-12 col-lg-7 text-center text-lg-left d-flex flex-column flex-md-row" style="">
            <p class="d-none d-md-block">Unutulmaz</p><span id="title-text-span">Deneyimler</span>
            <p id="textitem2">Hazırlar</p>
        </div>
    </div>
    <div class="row" id="redRow">
        <div class="col-12" id="redRowitems">
            <a href="" id="button">
                <div class="button-inner">
                    <img class="button-img" src="../assets/img/presentation.png" alt="">
                </div>
                <p id="buttonText" class="pt-3 pl-3">Şirket Sunumumuzu İncele</p>
            </a>
            <div class="main d-none d-lg-block ">
                <p class="comInfo">İLETİŞİM BİLGİLERİMİZ</p>
                <div class="stick"></div>
            </div>
        </div>
        <div class="container-fluid" id="bottomColor"></div>
        <img id="boyImage" src="../assets/img/boy.png" alt=""></div>
</div>
<div class="container-fluid" id="backgroundImage">
    <div class="row">
        <div class="col-12 col-md-12 mt-5 pl-5">
            <p class="info text-center text-lg-left text-white line-height-1.5"><span class="title">Sarıyer-Kolektif House</span><br>
                Maslak Mah. Aos 55. Sk. 42 Maslak No: 4 İç Kapı No: 556<br>
                info@codeck.com.tr<br>
                +90 (212) 242 36 24</p>
            <div class="buttons d-flex justify-content-center justify-content-lg-start">
                <a href="">
                    <div class="button pt-3 text-white">Adres Tarifi Al</div>
                </a>
                <a href="">
                    <div class="button pt-3 ml-3 text-white">Hemen Ara</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12  mt-5 text-align-right pr-5">
            <p class="info text-center text-lg-right text-white"><span class="title2">Sarıyer-Merkez</span><br>
                Yeni mahalle caddesi, No. 9,Kat 3,Daire 3<br>
                info@codeck.com.tr<br>
                +90 (544) 565 18 85</p>
            <div class="buttons d-flex justify-content-lg-end justify-content-center">
                <a href="">
                    <div class="button text-white">Adres Tarifi Al</div>
                </a>
                <a href="">
                    <div class="button ml-3 text-white">Hemen Ara</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
