{% extends "layouts/layout.index.html" %}
{% block content %}

<div id="loader">
    <img class="loader-img" src="../assets/img/information/ezgif-3-c10ad3de5c54.gif"/>
</div>
<div class="container-fluid" id="i-mainContent">
    <div class="row" id="mainContentinner">
        <div class="col-12 col-md-10 col-lg-10 d-md-block d-flex justify-content-center  ">
            <img id="codeckimg" src="../assets/img/information/codeck.svg" alt="">
        </div>
        <div class="col-12 col-md-2 col-lg-2 d-flex justify-content-center justify-content-md-end ">

            <a target="_blank" href="" style="display:none;"><img class="i-mediaIcons" src="../assets/img/information/facebook.svg" alt=""></a>
            <a target="_blank" href="https://www.instagram.com/codeckistanbul/"><img class="i-mediaIcons" src="../assets/img/information/instagram.svg" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/company/codeck/about/"><img class="i-mediaIcons" src="../assets/img/information/linkedin.svg" alt=""></a>
        </div>
    </div>
    <div class="row" id="i-titleMain">
        <div class="i-title-text col-12 col-md-12 text-center text-md-left d-flex flex-row justify-content-center d-md-block">
            <p id="i-textitem1" style="">Çalışıyoruz,</p><p class="d-md-none d-block" id="i-textitem3">Hazırlanıyoruz,</p>
        </div>
        <div class="i-title-text col-12 col-md-12 text-center text-lg-left d-flex flex-column flex-md-row" style="">
            <p class="d-none d-md-block">Hazırlanıyoruz,</p> <span id="i-title-text-span">En İyisi İle</span><p id="i-textitem2">Döneceğiz.</p>
        </div>
    </div>
    <div class="row" id="i-redRow">
        <div class="col-12" id="i-redRowitems">
            <a href="../assets/sunum/codeck-sunum.pdf" title="Codeck Sunum"  target="_blank" id="i-button">
                <div class="i-button-inner">
                    <img class="i-button-img" src="../assets/img/information/left-arrow.svg" alt="">
                </div>
            </a>
            <div class="i-main d-none d-lg-block ">
                <p class="i-comInfo">İLETİŞİM BİLGİLERİMİZ</p>
                <div class="i-stick"></div>
            </div>
        </div>
        <div class="container-fluid" id="i-bottomColor"></div>
        <img id="i-boyImage" src="../assets/img/information/boyimg2.png" alt=""></div>
</div>

{% endblock %}