{% extends "layouts/layout.index.html" %}
{% block content %}

<div class="topBlock">
    <div class="topImage">
        <img id="codeckimg" src="./assets/img/communication/codeck.svg" alt="">
    </div>
    <a href="" class="menuBar">
        <span class="hamburger-menu"></span>
        <span class="hamburger-menu" id="shortStick"></span>
    </a>
</div>
<div class="buttons">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Web</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mobil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Otomasyon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Grafik</a>
        </li>
    </ul>
    <div class="longStick"></div>
</div>
<div class="firstProject">
    <div class="projectTexts col-5">
    <h3 class="titleText">Akıllı Ahtapot</h3>
    <p class="firstText">Anında SGK teşvik ve
        prim hesaplama
        otomasyonu</p>
    <p class="secondText">marka,kurumsal kimlik,otomasyon hizmetleri</p>
    </div>
    <div class="projectImages">
        <img class="projectImageItems" src="./assets/img/projects/ahtapot1.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/ahtapot2.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/ahtapot3.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/ahtapot4.png" alt="">
    </div>
</div>
<div class="stickBetween"></div>
<div class="firstProject">
    <div class="projectTexts col-5">
        <h3 class="titleText">Hamidiye</h3>
        <p class="firstText">Bayi uygulamaları,
            kullanıcı uygulamaları,
            ve web uygulamaları</p>
        <p class="secondText">mobil uygulama, haritalandırma, kullanıcı deneyimi</p>
    </div>
    <div class="projectImages">
        <img class="projectImageItems" src="./assets/img/projects/hamidiye1.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/hamidiye2.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/hamidiye3.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/hamidiye4.png" alt="">
    </div>
</div>
<div class="stickBetween"></div>
<div class="firstProject">
    <div class="projectTexts col-5">
        <h3 class="titleText">Bmsumer</h3>
        <p class="firstText">Podbia podcast uygulaması,
            Backend geliştirme ve
            tasarım geliştirmeleri</p>
        <p class="secondText">mailing, backend, tasarım, kullanıcı deneyimi</p>
    </div>
    <div class="projectImages">
        <img class="projectImageItems" src="./assets/img/projects/bmsumer1.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/bmsumer2.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/bmsumer3.png" alt="">
        <img class="projectImageItems" src="./assets/img/projects/bmsumer4.png" alt="">
    </div>
</div>
<div class="callToAction">
    <span><b class="descriptive">Çekinme!</b> Bir şeyler sormak <br>istersen eğer</span>
    <a href="">Bize buradan ulaşabilirsin
        <img src="./assets/img/arrow-right.svg" alt=""></a>
</div>
<div class="footer">

    <div class="social-media d-flex d-md-none">
        <a href="" class="linkimages"><img src="./assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img src="./assets/img/instagram.svg"
                                                                                    alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="./assets/img/linkedin.svg"
                alt=""></a>
    </div>
    <ul class="pages flex-column flex-md-row">
        <li><a href="" class="page-items">Hakkımızda</a></li>
        <li><a href="" class="page-items">Projlerimiz</a></li>
        <li><a href="" class="page-items">İletişim</a></li>
        <li><a href="" class="page-items">Blog</a></li>
    </ul>
    <div class="social-media d-none d-md-flex">
        <a href="" class="linkimages"><img src="./assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img src="./assets/img/instagram.svg"
                                                                                    alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="./assets/img/linkedin.svg"
                alt=""></a>
    </div>
    <div class="privacy">© 2020 Codeck Tüm Hakları Saklıdır</div>

</div>





{% endblock %}